mixin nav(highlight, url)
	nav#topnav
		a(href="/" class=highlight=="home" ? "active" : "").navitem Home
		a(href="/about" class=highlight=="about" ? "active" : "").navitem About
		a(href="/dash" class=highlight=="dash" ? "active" : "").navitem Dashboard
		if block
			a(href=url).navitem.active
				block

noscript
	| Please enable JavaScript. This website won't work without it. We promise there's no trackers, ads, or other evil things.

div#background-container
	each color in ["#fead7b", "#f9a47a", "#f1997a", "#eb8e79", "#e58478", "#de7978", "#d76d77", "#c46376", "#ae5875", "#a05075", "#904874", "#844274", "#723973", "#5f2f72", "#512872", "#462371"]
		div(style=`background: ${color}`)

script.
	let bgc = document.querySelector("#background-container")
	function buildBackground() {
		let edge = Math.sqrt(window.innerHeight**2/2) + Math.sqrt(window.innerWidth**2/2)
		bgc.style.left = (window.innerWidth-edge)/2+"px"
		bgc.style.top = (window.innerHeight-edge)/2+"px"
		bgc.style.width = edge+"px"
		bgc.style.height = edge+"px"
	}
	window.addEventListener("resize", buildBackground)
	buildBackground()

	function animate() {
		for (let i = 0; i < bgc.children.length; i++) {
			let panel = bgc.children[i]
			let initialColor = panel.style.background
			setTimeout(() => {
				panel.animate([
					{transform: "rotate3d(0, 1, 0, 0deg)", easing: "cubic-bezier(0.6, 0.1, 1, 1)"},
					{transform: "rotate3d(0, 1, 0, 90deg)"}
				], 350).addEventListener("finish", () => {
					panel.style.background = "#fead7b"
					panel.animate([
						{transform: "rotate3d(0, 1, 0, 90deg)", easing: "cubic-bezier(0, 0, 0.6, 1)"},
						{transform: "rotate3d(0, 1, 0, 180deg)"}
					], 350)
				})
			}, 50*i)
			setTimeout(() => {
				panel.animate([
					{background: "#fead7b", easing: "ease-in-out"},
					{background: "#462371"}
				], 1500).addEventListener("finish", () => {
					panel.style.background = "#462371"
				})
			}, 1500)
			setTimeout(() => {
				panel.animate([
					{transform: "rotate3d(0, 1, 0, 180deg)", easing: "cubic-bezier(0.6, 0, 1, 1)"},
					{transform: "rotate3d(0, 1, 0, 90deg)"}
				], 350).addEventListener("finish", () => {
					panel.style.background = initialColor
					panel.animate([
						{transform: "rotate3d(0, 1, 0, 90deg)", easing: "cubic-bezier(0, 0, 0.6, 1)"},
						{transform: "rotate3d(0, 1, 0, 0deg)"}
					], 350)
				})
			}, 3000+50*(16-i))
		}
	}

	bgc.onclick = animate