mixin user(user)
	- let avatar = `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.${user.avatar.startsWith("a_") ? "gif" : "png?size=128"}`
	img(src=avatar, alt=user.tag + "'s avatar.").avatar

doctype html
html
	include includes/head.pug
		title About | Amanda

	<script src="https://discordbotlist.com/widget/index.js" async></script>

	body
		include includes/nav.pug
		+nav("about")

		div.title
			div.box Developers
		div.about
			each member in devs
				if member.user.avatar
					+user(member.user)
		p
			| ​
		p
			| ​
		div.title
			div.box Donors
		div.about
			each member in donors
				if member.user.avatar
					+user(member.user)
		p
			| ​
		p
			| ​
		div.title
			div.box Translators
		div.about
			each member in translators
				if member.user.avatar
					+user(member.user)
		p
			| ​
		p
			| ​
		div.title
			div.box Listings
		div.about
			<a href="https://top.gg/bot/405208699313848330">
				<img src="https://top.gg/api/widget/405208699313848330.svg" alt="Amanda's top dot gg listing widget." />
			</a>
			<a href="https://bots.ondiscord.xyz/bots/405208699313848330">
				<img src="https://bots.ondiscord.xyz/bots/405208699313848330/embed?theme=dark" alt="Amanda's bots on Discord listing widget." />
			</a>
			<a href = "https://discord.boats/bot/405208699313848330">
				<img src="https://discord.boats/api/widget/405208699313848330?type=png" alt="Amanda's Discord boats listing widget.">
			</a>
