//- Needs clusterData

doctype html
html
	include includes/head.pug
		title Config | Amanda

	body
		include includes/nav.pug
		+nav("")

		div.title
			div.box Config

		div.config-overview
			h2 Current config
			table.config-table
				thead
					tr
						th(scope="col") Cluster #

						th(scope="col") Allow AI
				tbody
					each data, index in clusterData
						- let config = data.config
						tr
							td= index
							td
								div.use-invidious
									div(class=(config.allow_ai ? "true" : "")).status
									= config.allow_ai

			h2 Update all cluster config
			form(method="post" action="/formapi/updateconfig").form-with-rows
				label.form-row-label
					span Allow AI
						input(type="checkbox" name="allow-ai" checked=clusterData[0].config.allow_ai)

				input(type="hidden" name="number-of-nodes" value=clusterData[0].lavalinkNodes.length)

				p Lavalink Nodes:

				table.config-table
					thead
						tr
							th(scope="col") Node #
							th(scope="col") Name
							th(scope="col") Enabled
							th(scope="col") Search With Invidious
					tbody
						each node, index in clusterData[0].lavalinkNodes
							tr
								td= index
								td= node.name
								td
									input(type="checkbox" name=`enable-node-${index}` checked=node.enabled)
								td
									input(type="checkbox" name=`enable-node-${index}-invidious` checked=node.search_with_invidious)

				input(type="submit" value="Apply").apply-config
