doctype html

mixin guild-selection(guild, active)
	a(href="/server/"+guild.id)
		if guild.icon
			img(src=`https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128`)
		else
			div.letter-icon= guild.nameAcronym
		div.name= guild.name
		if active
			div.speaker
				img(src="/images/speaker.svg")

html
	include includes/head.pug
		title Select server | Amanda

	body
		include includes/nav.pug
		+nav("dash")

		main
			div.spaced-title
				div.spaced-title-left.box= user.username+"#"+user.discriminator
				div.spaced-title-main.box Select a server
				form.spaced-title-right(method="post" action="/logout")
					input(type="hidden" name="csrftoken" value=csrfToken)
					input(type="submit" value="Log out").logout-button

			if npguilds
				div.guilds
					for guild in npguilds
						+guild-selection(guild, true)

			if guilds
				div.guilds
					for guild in guilds
						+guild-selection(guild, false)
			else
				div.message
					div We don't share any servers? Wha-!
					div
						a(href="https://discord-bots.ga/amanda") Want to add me to one?
