doctype html
html
	include includes/head.pug
		title= guild.name+" | Amanda"
		script.
			var _guildID = "#{guild.id}"
			var _serverTimeDiff = Date.now()-#{timestamp}
		script(defer src="/external/soundcloud.js")
		script(type="module" src="/player.js")

	body
		include includes/nav.pug
		+nav("dash")

		main
			div.player-grid
				div.player-controls#player-container
					div.song-title.nothing-playing Connecting...
				div.guild-info
					div.guild-icon
						if guild.icon
							img(src=`https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` crossorigin="anonymous" referrerpolicy="no-referrer")
						else
							div.letter-icon= guild.nameAcronym
					div.guild-words
						div.guild-name= guild.name
						div.voice-channel-name#voice-channel-name Connecting...
				div.queue-container#queue-container
				div.right-panels
					div.side-controls#side-controls
					div.voice-info#voice-info
		div.frames
			//- TODO set sandbox to allow-scripts
			iframe#f-soundcloud
