doctype html
html
	include includes/head.pug
		title Select server | Amanda
	
	body
		include includes/nav.pug
		+nav("dash")

		div.spaced-title
			div.spaced-title-side= user.tag
			div.spaced-title-main Select a server
			form(method="post" action="/logout")
				input(type="hidden" name="csrftoken" value=csrfToken)
				input(type="submit" value="Log out").logout-button.spaced-title-side

		div.guilds
			for guild in guilds
				a(href="/server/"+guild.id)
					if guild.icon
						img(src=`https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128`)
					else
						div.letter-icon= guild.nameAcronym
					div.name= guild.name
